body {
  margin: 0;
  background: #f9fafb;
  font-family: Inter, sans-serif;
}

.container {
  width: min(900px, 90%);
  margin: auto;
  padding: 60px 0;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  color: black;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 40px;
}
